body {
    background-color: gray;
  }
  
.test {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
.pic1{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.arti
{
    color : ;
    float: right;
    padding: 20px;
    width: 70%;
    background-color: ;
    height: 300px; 
}
section{
    background: white;
}